@import url('https://fonts.googleapis.com/css?family=Nunito:b');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
  background-color: black;
  background-image: url("../lightimage/workBackground.webp");
  background-size: 100vw 100vh;
  color: white;
}
.no-webp body {
  background-image: url("../image/workBackground.png");
}
.button {
  align-content: center;
  background: #0099ff;
  border-radius: 1vw;
  border: none;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin: 0vw;
  padding: 10px;
}
.button:hover {
  background-color: #80ccff;
  cursor: pointer;
}
.title {
  color: white;
  cursor: default;
  font-family: 'Nunito', sans-serif;
  font-size: 5vw;
  margin: 1vw;
  text-align: center;
}
.subtitle {
  color: white;
  cursor: default;
  font-family: 'Nunito', sans-serif;
  font-size: 3vw;
  text-align: center;
}
.table {
  cursor: default;
  text-align: center;
}
.tableContent {
  color: white;
  font-family: sans-serif;
  font-size: 2vw;
  text-align: center;
  width: 33vw;
}
.bottom {
  bottom: 20px;
  color: white;
  cursor: default;
  font-family: 'Nunito', sans-serif;
  font-size: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 50px;
  padding: 1vw;
  position: bottom;
  text-align: center;
}